In [48]:
import numpy as np 
import pandas as pd
import seaborn as sns 
from matplotlib import pyplot as plt
sns.set_style('dark')

In [51]:
data = pd.read_csv('./NewDatasets/DataPreprocessing.csv')
data

   Region   Age   Income Online Shopper
0   India  49.0  86400.0             No
1  Brazil  32.0  57600.0            Yes
2     USA  35.0  64800.0             No
3  Brazil  43.0  73200.0             No
4     USA  45.0      NaN            Yes
5   India  40.0  69600.0            Yes
6  Brazil   NaN  62400.0             No
7   India  53.0  94800.0            Yes
8     USA  55.0  99600.0             No
9   India  42.0  80400.0            Yes

In [66]:
dataV = data.iloc[: , :-1]
dataV.isnull().sum()

Series([], Name: Age, dtype: float64)