In [78]:
import numpy as np 
import pandas as pd

In [79]:
data = pd.read_csv('./NewDatasets/pima-indians-diabetes.csv' , names=['preg' , 'plas' , 'pres' , 'skin' , 'test' ,'mass', 'pedi' , 'age' , 'class' ''])
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [80]:
data.replace({'test':0 , 'skin':0} , np.nan , inplace=True)
# print(data)
TrainingData = data.iloc[ : , :-1]
from sklearn.impute import KNNImputer
testKnn = KNNImputer(missing_values=np.nan , n_neighbors=3)
data.iloc[: , :-1]=testKnn.fit_transform(TrainingData )

In [81]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
MinMaxTest = StandardScaler()
MinMaxTest.fit_transform(data)

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.46849198,
         1.4259954 ,  1.36589591],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.36506078,
        -0.19067191, -0.73212021],
       [ 1.23388019,  1.94372388, -0.26394125, ...,  0.60439732,
        -0.10558415,  1.36589591],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.68519336,
        -0.27575966, -0.73212021],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.37110101,
         1.17073215,  1.36589591],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.47378505,
        -0.87137393, -0.73212021]])