In [1]:
import numpy as np 
import pandas as pd

In [2]:
matris1 = [
    [1,2,4],
    [3,4,7],
    [9,8,7]
]
matris1 = np.array(matris1)

In [3]:
matris2 = np.zeros((3 , 3 ))

In [4]:
data1 = {
    'FullName':"amirhosein",
    'family':"kia",
    "age":20
}
data2 = {
    'FullName':"ali",
    'family':"kia2",
    "age":22
}
data3 = {
    'FullName':"saeed",
    'family':"kia3",
    "age":24
}

In [9]:
 df = pd.DataFrame( (data1 , data2 , data3) , ['r1' , 'r2' , 'r3'])
df

      FullName family  age
r1  amirhosein    kia   20
r2         ali   kia2   22
r3       saeed   kia3   24

In [13]:
df.loc[: , ['family']]

   family
r1    kia
r2   kia2
r3   kia3