In [1]:
import pandas as pd

In [3]:
df =pd.read_csv('../NewDatasets/titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
len(df)

891

In [5]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
df_pm1000000 = df[df['Price'] > 1000000]

KeyError: 'Price'

In [7]:
df_pm1000000.head()

NameError: name 'df_pm1000000' is not defined

In [8]:
df_pm1000000.tail()

NameError: name 'df_pm1000000' is not defined

In [ ]:
df_pm1000000.count()

In [9]:
df_pm1000000['Car'].count()

NameError: name 'df_pm1000000' is not defined

In [ ]:
new_df = df[(df['Price'] > 1000000) & (df['Car'] > 1)]
new_df

In [ ]:
df.describe()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [11]:
new_df.sum()

NameError: name 'new_df' is not defined

In [ ]:
new_df.mean()

In [ ]:
new_df.std()

In [12]:
new_df.var()

NameError: name 'new_df' is not defined

In [ ]:
df.head()

In [13]:
df['SA'] = df['Suburb'] + ' - ' + df['Address']
df.head()

KeyError: 'Suburb'

In [ ]:
df['CARDis'] = df['Car'] * df['Distance']
df.head()

In [ ]:
df['Car'].unique()

In [ ]:
df['Car'].value_counts()

In [14]:
df.groupby('Car')['Price'].max()

KeyError: 'Car'

In [ ]:
def f(x):
    return x.sum() / len(x)

In [ ]:
df.groupby('Type')['Price'].aggregate(lambda x: x.sum() / len(x))

In [15]:
df.groupby('Car')['Price'].mean()

KeyError: 'Car'

In [ ]:
df[df["Car"]==9]